.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    .footer__container {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      .footer__section {
        flex: 1;
        &:not(:last-child) {
          margin-right: 20px;
        }
        .footer__title {
          font-size: 1.2rem;
          margin-bottom: 20px;
        }
        .footer__contact-info {
          font-size: 0.9rem;
        }
        .footer__links {
          list-style-type: none;
          padding: 0;
          li {
            margin-bottom: 10px;
            a {
              color: #fff;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .footer__social-links {
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
          li {
            margin-right: 10px;
            &:last-child {
              margin-right: 0;
            }
            a {
              color: #fff;
              text-decoration: none;
              font-size: 1.2rem;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
    .footer__copyright {
      text-align: center;
      padding-top: 20px;
      font-size: 0.8rem;
    }
  }
  